<% msg = Message.new %>
<%= form_for msg, url: messages_path, method: :post, html: {class: "form form-horizontal", style: "height:100%;"} do |f| %>
  <% if conversation.present? %>
    <%= f.hidden_field :conversation_id, value: conversation.try(:id) %>
  <% else %>
    <%= f.hidden_field :module_id, value: course_module.try(:id) %>
  <% end %>

  <% if course_module.present? || conversation.persisted?  %>
    <div class="form-group">
      <div class="col-sm-12">
        <%= f.text_area :body, class: "form-control", rows: "5", required: true, placeholder: placeholder %>
      </div>
    </div>
  <% else %>
    <% recipient_name = current_admin.present? ? "Student" : "Teacher" %>
    <h3 class="text-center m-b-20"><%= "Message Your #{recipient_name}" %> </h3>

    <% if current_admin.present? %>
      <div class="form-group">
        <label class="col-md-12">To</span></label>
        <div class="col-md-12">
          <%= select_tag :recipient_id, options_for_select(User.active.order(:first_name).map{|u| [u.name, u.id]}.unshift(["Please select", nil], ["All students", "all"]), "Please select"), {class: "form-control select2", required: true} %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <label class="col-md-12">Subject</span></label>
      <div class="col-md-12">
        <%= text_field_tag :subject, nil, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-12">Message</label>
      <div class="col-sm-12">
        <%= f.text_area :body, class: "form-control", rows: "5", required: true %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Send", :class => 'col-sm-2 btn btn-success m-l-10' %>
  </div>
<% end %>

<% content_for :javascripts do %>
<script>
$(document).ready(function(){
  $(".select2").select2();
});
</script>
<% end %>
