<div class="white-box">
  <div class="row m-b-20">
    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
      <% if material.persisted? %>
        <h1 class="m-b-20">Edit Supporting Material</h1>
      <% else %>
        <h1 class="m-b-20">Create New Supporting Material <small>For Module <%= course_module.sort_order %></small></h1>
      <% end %>

      <%= form_for material, url: path, method: method, html: {class: "form-horizontal", style: "height:100%;"} do |f| %>

        <% unless material.persisted? %>
          <%= f.hidden_field :course_module_id, value: course_module.id %>
        <% end %>

        <div class="form-group m-t-20">
          <label class="col-sm-3 control-label">Title</label>
          <div class="col-sm-9">
            <%= f.text_field :title, class: "form-control", required: true %>
          </div>
        </div>

        <div class="form-group m-t-20">
          <label class="col-sm-3 control-label">description</label>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control", rows: "5" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Upload supporting image (optional, JPEG/PNG, Max 2MB)</label>
          <div class="col-sm-9">
            <%= f.file_field :img %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Upload supporting document (optional, PDF, Max 10MB)</label>
          <div class="col-sm-9">
            <%= f.file_field :doc %>
          </div>
        </div>

        <div class="text-right">
          <%= f.submit "Submit", class: "btn btn-success m-r-10" %>
          <%= link_to "Cancel", edit_course_module_path(course_module), class:"btn btn-inverse waves-effect waves-light" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
