<div class="container pb5em">
  <div class="row mt3em"> 
    <div class="col s12 valign">
      <%=image_tag "all-devices.png", class: " responsive-img " %>
    </div>
  </div>
  <div class="row valign-wrapper mt3em">
    <div class="col s10 offset-s1 m8 valign center">
      <h5 class="light-text">
        Modern Assets is the only program built specifically for accountants from the ground up to help make the benefits of technology and online marketing as accessible and affordable as possible.</h5>
    </div>
    <div class="col hide-on-small-only m4 valign">
      <div class="effecter demo animated z-depth-5 br-50percent">
        <%=image_tag "ma_no_frame.png", class: "responsive-img center-img"%>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 valign">
      <%=image_tag "cloud_accounting.png", class: "about-illustration green-background responsive-img" %>
    </div>
    <div class="col m7 valign">
      <h5 class="light-text">
        Learn how to benefit from cloud-based technologies:
      </h5>
      <ul>
        <li><p class="light-text"><i class="material-icons small">done</i> use social media to get more business.</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> implement online scheduling to save time and increase conversions.</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> increase your website's ranking on google search results for more online traffic</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> optimize your website to get more clients</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> measure marketing success with metrics and analytics</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> and so so much more...</p></li>
      </ul>
    </div>
  </div>
  <div class="row center pt3em pb5em hide-on-small-only">
    <a class="waves-effect waves-light btn-large capitalize h6" data-scroll href="#pricing">Sign Up Today</a>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "cloud_accounting.png", class:  "about-illustration green-background responsive-img" %>
    </div>
    <div class="col s12 ">
      <h5 class="mt20 light-text center">
        Learn how to benefit from cloud-based technologies:
      </h5>
      <ul>
        <li><p class="light-text"><i class="material-icons small">done</i> use social media to get more business.</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> implement online scheduling to save time and increase conversions.</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> increase your website's ranking on google search results for more online traffic</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> optimize your website to get more clients</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> measure marketing success with metrics and analytics</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> and so so much more...</p></li>
      </ul>
    </div>
  </div>
  <div class="row center pt3em pb5em hide-on-med-and-up">
    <a class="waves-effect waves-light btn-large capitalize h6" data-scroll href="#pricing">Sign Up Today</a>
  </div>
  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 push-m7 valign">
      <%=image_tag "integrated_offering.png", class: "about-illustration minty-background  responsive-img" %>
    </div>
    <div class="col m7 pull-m5 valign">
      <h5 class="light-text">
        Learn Anywhere, At Anytime, On Any Device 
      </h5>
      <ul>
        <li><p class="light-text"><i class="material-icons small">done</i> Dedicated &amp Secure Online Learning Platform</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Video Tutorials</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Downloadable Slides</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> How-To Action guides</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Implementation Checklists</p></li>
      </ul>
    </div>
  </div>
  <div class="row center pt3em pb5em hide-on-small-only">
    <a class="waves-effect waves-light btn-large capitalize h6" data-scroll href="#pricing">Sign Up Today</a>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "integrated_offering.png", class: "about-illustration minty-background responsive-img" %>
    </div>
    <div class="col s12">
      <h5 class="mt20 light-text center">
        Learn Anywhere, At Anytime, On Any Device 
      </h5>
      <ul>
        <li><p class="light-text"><i class="material-icons small">done</i> Dedicated &amp Secure Online Learning Platform</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Video Tutorials</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Downloadable Slides</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> How-To Action guides</p></li>
        <li><p class="light-text"><i class="material-icons small">done</i> Implementation Checklists</p></li>
      </ul>
    </div>
  </div>
  <div class="row center pt3em pb5em hide-on-med-and-up">
    <a class="waves-effect waves-light btn-large capitalize h6" data-scroll href="#pricing">Sign Up Today</a>
  </div>
</div>