<!-- <div class="container center">
    <div class="row mt5em">      
      <h2>About Modern Assets</h2>
      <p>Handcrafted by <a href="http://phasethree.com" target="_blank">Phase Three</a></p>
    </div>
</div> -->
<div class="container pb5em">
  <div class="row mt3em"> 
    <div class="col s12 valign">
      <%=image_tag "all-devices.png", class: " responsive-img " %>
    </div>
  </div>
  <div class="row valign-wrapper mt3em">
    <div class="col s8 offset-s2 m8 valign center">
      <h4 class="green-text">
        Why Modern Assets ?
      </h4>
      <p>
        Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
      </p>
    </div>
    <div class="col hide-on-small-only m4 valign">
          <div class="effecter demo animated z-depth-5 br-50percent">
            <%=image_tag "ma_no_frame.png", class:"responsive-img center-img " %>
          </div>
    </div>
  </div>

  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 valign">
      <%=image_tag "cloud_accounting.png", {class: "green-background responsive-img ", style:"padding: 1em;border-radius:10%;"} %>
    </div>
    <div class="col m7 valign">
      <h5>
        Learn how to leverage technology to improve your practice and increase your profits 
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "cloud_accounting.png", {class:  "green-background responsive-img ", style:"padding: 1em;border-radius:10%;"} %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Learn how to leverage technology to improve your practice and increase your profits 
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>

  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 push-m7 valign">
      <%=image_tag "integrated_offering.png", {class: "minty-background  responsive-img", style:"padding: 1em;border-radius:10%;"} %>
    </div>
    <div class="col m7 pull-m5 valign">
      <h5>
        Integrated program materials delivered to you through a dedicated learning management system. 
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "integrated_offering.png", {class: "minty-background responsive-img", style:"padding: 1em;border-radius:10%;"} %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Integrated program materials delivered to you through a dedicated learning management system. 
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>

</div>