<div class="container center">
    <div class="row mt5em">      
      <h2>About Modern Assets</h2>
      <p>Handcrafted by <a href="http://phasethree.com" target="_blank">Phase Three</a></p>
    </div>
</div>
<div class="container">
  <div class="row mt3em"> 
    <div class="col s8 offset-s2 m6 offset-m3 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
  </div>
  <div class="row valign-wrapper mt3em">
    <div class="col m8 valign center">
      <h4>
        Hello World Some Text Here
      </h4>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
    <div class="col hide-on-small-only m4 valign">
        <div class="card-panel teal center">
          <h5 class="white-text">Textity</h5>
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          </span>
        </div>
    </div>
  </div>

  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
    <div class="col m7 valign">
      <h5>
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>

  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 push-m7 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img center-img" %>
    </div>
    <div class="col m7 pull-m5 valign">
      <h5>
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>

</div>