<div class="container pb5em">
  <div class="row mt3em"> 
    <div class="col s12 valign">
      <%=image_tag "all-devices.png", class: " responsive-img " %>
    </div>
  </div>
  <div class="row valign-wrapper mt3em">
    <div class="col s8 offset-s2 m8 valign center">
<!--       <h4 class="green-text">
        Why Modern Assets ?
      </h4> -->
      <h5 class="light-text">
        Modern Assets is the only program built specifically for accountants from the ground up to help make the benefits of technology and online marketing as accessible and affordable as possible.</h5>
    </div>
    <div class="col hide-on-small-only m4 valign">
          <div class="effecter demo animated z-depth-5 br-50percent">
            <%=image_tag "ma_no_frame.png", class: "responsive-img center-img"%>
          </div>
    </div>
  </div>
  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 valign">
      <%=image_tag "cloud_accounting.png", class: "about-illustration green-background responsive-img" %>
    </div>
    <div class="col m7 valign">
      <h5>
        Benefit from cloud-based technologies, rather than being replaced by them
      </h5>
<p class="bold-text">Learn how to</p>
<p class="light-text">use social media to get more business.</p>
<p class="light-text">implement online scheduling to save time and increase conversions.</p>
<p class="light-text">increase your website's ranking on google search results for more online traffic</p>
<p class="light-text">optimize your website to get more clients</p>
<p class="light-text">measure marketing success with metrics and analytics</p>
<p class="light-text">and so so much more...</p>
    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "cloud_accounting.png", class:  "about-illustration green-background responsive-img" %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Benefit from cloud-based technologies, rather than being replaced by them
      </h5>
Learn how to:
<h5 class="light-text">use social media to get more business.</h5>
<h5 class="light-text">implement online scheduling to save time and increase conversions.</h5>
<h5 class="light-text">increase your website's ranking on google search results for more online traffic</h5>
<h5 class="light-text">optimize your website to get more clients</h5>
<h5 class="light-text">measure marketing success with metrics and analytics</h5>
<h5 class="light-text">and oh so so much more...</h5>
      <!-- <p>Our dedicated online learning platform is viewable on all devices with an internet connection and includes easy to follow video tutorials, downloadable slides, and complete with how-to action guides.</p> -->
    </div>
  </div>
  <div class="row valign-wrapper mt5em hide-on-small-only">
    <div class="col s10 offset-s1 m5 push-m7 valign">
      <%=image_tag "integrated_offering.png", class: "about-illustration minty-background  responsive-img" %>
    </div>
    <div class="col m7 pull-m5 valign">
      <h5>
        Learn Anywhere, At Anytime, On Any Device 
      </h5>
      <h5>Our dedicated online learning platform is available on all internet-abled devices. Upon signing up, you will be given access to:</h5>
 <h5 class="light-text">video tutorials</h5>
 <h5 class="light-text">downloadable slides</h5>
 <h5 class="light-text">how-to action guides</h5>
 <h5 class="light-text">implementation checklists</h5>

    </div>
  </div>
  <div class="row mt5em hide-on-med-and-up">
    <div class="col s8 offset-s2">
      <%=image_tag "integrated_offering.png", class: "about-illustration minty-background responsive-img" %>
    </div>
    <div class="col s12 center">
      <h5 class="mt20">
        Learn Anywhere, At Anytime, On Any Device 
      </h5>
      <p>Our dedicated online learning platform is viewable on all devices with an internet connection and comes fully-equipped with easy to follow video tutorials, downloadable slides, and intuitive how-to action guides.</p>
    </div>
  </div>
</div>