<div class="pv5em half-green">
  <div class="">
  <div class="row center">
    <h2 class="white-text mb20">Program Pricing</h2>
  </div>
  <div class="row ">
    <div class="col s10 offset-s1 m6 l4 ">
      <div class="card z-depth-0 center pv2em">
        <div class="card-content">
          <h4 class="green-text"><%= @products.first.description %></h4>
          <% if @promotion.present? && @promotion.valid_promotion?(@products.first) %>
            <h4 class="grey-text strikethrough light-text">Original: <%= number_to_currency(@products.first.price, precision: 0) %></h4>
            <h4 class="red-text">Today: <%= number_to_currency(@products.first.promotional_price(@promotion), precision: 0) %></h4>
          <% else %>
            <h4 class="grey-text"><%= number_to_currency(@products.first.price, precision: 0) %></h4>
          <% end %>
          <ul class="mb20">
            <li><h6><span class="bold-text">15 </span> Learning Modules</h6></li>
            <li><h6><span class="bold-text">6 </span> months of course acess</h6></li>
            <li><h6><span class="bold-text">All </span> video tutorials</h6></li>
            <li><h6><span class="bold-text">All </span> downloadable slides</h6></li>
            <li><h6><span class="bold-text">All </span> how-to action guides </h6></li>
            <li><h6><span class="bold-text">All </span> implementation checklists </h6></li>
            <li><h6><span class="bold-text">Access </span> to members only community </h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">4</span> Live Q &amp A sessions</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Direct</span> Email support</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Downloadable </span> Templates for all course projects</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Launch </span> Review</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Hand On </span> Brand Critique</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Expert </span>review of marketing strategy</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Hands-on </span>review of marketing plan</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Review </span> of marketing plan</h6></li>
          </ul>
          <%= link_to "Sign Up Today", checkout_path(code: @products.first.code), class: "bigger-txt capitalize waves-effect waves-light btn-large mt3em" %>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 l4 ">
      <div class="card z-depth-5 hoverable center pv2em">
        <div class="card-content">
          <h4 class="green-text"><%= @products[1].description %></h4>
          <% if @promotion.present? && @promotion.valid_promotion?(@products[1]) %>
            <h4 class="grey-text strikethrough light-text">Original: <%= number_to_currency(@products[1].price, precision: 0) %></h4>
            <h4 class="red-text">Today: <%= number_to_currency(@products[1].promotional_price(@promotion), precision: 0) %></h4>
          <% else %>
            <h4 class="grey-text"><%= number_to_currency(@products[1].price, precision: 0) %></h4>
          <% end %>
          <ul class="mb20">
            <li><h6><span class="bold-text">15 </span> Learning Modules</h6></li>
            <li><h6><span class="bold-text">Lifetime </span> access to course</h6></li>
            <li><h6><span class="bold-text">All </span> video tutorials</h6></li>
            <li><h6><span class="bold-text">All </span> downloadable slides</h6></li>
            <li><h6><span class="bold-text">All </span> how-to action guides </h6></li>
            <li><h6><span class="bold-text">All </span> implementation checklists </h6></li>
            <li><h6><span class="bold-text">Access </span> to members only community </h6></li>
            <li><h6><span class="bold-text">4</span> Live Q &amp A sessions</h6></li>
            <li><h6><span class="bold-text">Direct</span> Email support</h6></li>
            <li><h6><span class="bold-text">Downloadable </span> Templates for all course projects</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Launch </span> Review</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Hand On </span> Brand Critique</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Expert </span>review of marketing strategy</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Hands-on </span>review of marketing plan</h6></li>
            <li><h6 class="strikethrough opacity60"><span class="bold-text">Review </span> of marketing plan</h6></li>
          </ul>
          <%= link_to "Sign Up Today", checkout_path(code: @products[1].code), class: "bigger-txt capitalize waves-effect waves-light btn-large mt3em" %>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 offset-m3 l4 ">
      <div class="card z-depth-0 center pv2em">
        <div class="card-content">
          <h4 class="green-text"><%= @products.last.description %></h4>
          <% if @promotion.present? && @promotion.valid_promotion?(@products.last) %>
            <h4 class="grey-text strikethrough light-text">Original: <%= number_to_currency(@products.last.price, precision: 0) %></h4>
            <h4 class="red-text">Today: <%= number_to_currency(@products.last.promotional_price(@promotion), precision: 0) %></h4>
          <% else %>
            <h4 class="grey-text"><%= number_to_currency(@products.last.price, precision: 0) %></h4>
          <% end %>
          <ul class="mb20">
            <li><h6><span class="bold-text">15 </span> Learning Modules</h6></li>
            <li><h6><span class="bold-text">Lifetime </span> access to course</h6></li>
            <li><h6><span class="bold-text">All </span> video tutorials</h6></li>
            <li><h6><span class="bold-text">All </span> downloadable slides</h6></li>
            <li><h6><span class="bold-text">All </span> how-to action guides </h6></li>
            <li><h6><span class="bold-text">All </span> implementation checklists </h6></li>
            <li><h6><span class="bold-text">Access </span> to members only community </h6></li>
            <li><h6><span class="bold-text">8</span> Live Q &amp A sessions</h6></li>
            <li><h6><span class="bold-text">Priority</span> Email support</h6></li>
            <li><h6><span class="bold-text">Downloadable </span> Templates for all course projects</h6></li>
            <li><h6><span class="bold-text">Launch </span> Review</h6></li>
            <li><h6><span class="bold-text">Hand On </span> Brand Critique</h6></li>
            <li><h6><span class="bold-text">Expert </span>review of marketing strategy</h6></li>
            <li><h6><span class="bold-text">Hands-on </span>review of marketing plan</h6></li>
            <li><h6><span class="bold-text">Review </span> of marketing plan</h6></li>
          </ul>
          <%= link_to "Sign Up Today", checkout_path(code: @products.last.code), class: "bigger-txt capitalize waves-effect waves-light btn-large mt3em" %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
