<div class="container">
    <div class="row mt5em">
      <div class="col s12">
        <h3 class="light-text"><span class="sm-txt">Real World Projects We Will Help You Complete</span></h3>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "Corporate-Branding-ma.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Build a Brilliant Brand</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Build a Brilliant Brand<i class="material-icons right">close</i></span>
          <p>Create a remarkable brand that is a high-performing, sales-generating asset within of itself.</p>
        </div>
      </div>
    </div>
    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "Corporate-Branding-ma.jpg", class:"responsive-img" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Build a Brilliant Brand</h5>
            <h6>Create a remarkable brand that is a high-performing, sales-generating asset within of itself. Learn what components are essential for brand building and how to use your brand as an always on sales agent that exudes your practice's character.</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "Clipboard-Office-Brand-ma.jpg", class: "responsive-img" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Create a Practice Modernization Agenda</h5>
            <h6>We will help you define what technologies are best for your practice, how to create a technology budget, and how to adopt these new technologies with a well defined implementation guide.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "Clipboard-Office-Brand-ma.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Create a Practice Modernization Agenda</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Create a Practice Modernization Agenda<i class="material-icons right">close</i></span>
          <p>We will help you define what technologies are best for your practice, how to create a technology budget, and how to adopt these new technologies with a well defined implementation guide.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "Binder-Stationery-Brand-ma.jpg", class: "responsive-img" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Create &amp Manage Your Business Development Portfolio</h5>
            <h6>Evaluate, Select, and Implement growth opportunities in a scientific manner that is optimized for achieving your practice's operational goals.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "Binder-Stationery-Brand-ma.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Create &amp Manage Your Business Development Portfolio</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Create &amp Manage Your Business Development Portfolio<i class="material-icons right">close</i></span>
          <p>Evaluate, Select, and Implement growth opportunities in a scientific manner that is optimized for achieving your practice's operational goals.</p>
        </div>
      </div>
    </div>

    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "meeting_group.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Synthesize a Modern Marketing Strategy</h5>
            <h6>Formulate a successful marketing strategy by integrating customer insights with business objectives.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "meeting_group.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Synthesize a Modern Marketing Strategy</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Synthesize a Modern Marketing Strategy<i class="material-icons right">close</i></span>
          <p>Formulate a successful marketing strategy by integrating customer insights with business objectives.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb5em">

    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "strategy_review.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Launch Your Modern Marketing Plan</h5>
            <h6>Learn how to manage publishing schedules, media buys, and coordinate communications initiatives in a coherent and powerful way.</h6>
          </div>
<!--           <div class="card-cta">
            <p class="center"><a class=" bigger-txt capitalize waves-effect waves-light btn" href="mobile.html">Sign Up</a></p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "strategy_review.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Launch Your Modern Marketing Plan</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Launch Your Modern Marketing Plan<i class="material-icons right">close</i></span>
          <p>Learn how to manage publishing schedules, media buys, and coordinate communications initiatives in a coherent and powerful way.</p>
        </div>
      </div>
    </div>
    <div class="col l12  hide-on-med-and-down">
      <div class="card horizontal z-depth-5">
        <div class="card-image">
          <%=image_tag "analytics.jpg", class: "responsive-img" %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="mt20">Pull &amp Interpret Marketing Performance Reports</h5>
            <h6>Gain actionable insight from your marketing campaigns and determine beneficial next steps.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col s10 offset-s1 m6 hide-on-large-only">
      <div class="card medium z-depth-5 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <%=image_tag "analytics.jpg", class: "responsive-img activator" %>
        </div>
        <div class="card-content">
          <div class="card-title-left">
            <h4 class="activator light-text">Pull &amp Interpret Marketing Performance Reports</h4>
          </div>
          <div class="activator card-activator-right">
            <i class="material-icons right">more_vert</i>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Pull &amp Interpret Marketing Performance Reports<i class="material-icons right">close</i></span>
          <p>Gain actionable insight from your marketing campaigns and determine beneficial next steps.</p>
        </div>
      </div>
    </div>
  </div>

</div>