<div class="vp3em minty-background">
  <div class="row">
    <div class="col s12 center">
      <h4>Learn How To Profit From</h4>
    </div>
  </div>
  <div class="row m0">
    <div class="col s6 m2 offset-m1"">
      <%=image_tag "facebook.svg", class: "responsive-img img-center" %>
    </div>
  
    <div class="col s6 m2">
      <%=image_tag "google.svg", class: "responsive-img img-center" %>
    </div>

    <div class="col s6 m2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter">
      <%=image_tag "twitter.svg", {class: "responsive-img img-center", style:"width:60px;margin-top:10px !important;"} %>
    </div>

    <div class="col s6 m2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Medium - Blog">
      <%=image_tag "medium.svg", {class: "responsive-img img-center", style:"width:60px;margin-top:10px !important;"} %>
    </div>

    <div class="col s6 offset-s3 m2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Newsletters">
      <%=image_tag "mailchimp.svg", class: "responsive-img img-center" %>
    </div>

  </div>
</div>